<main>
    <section>
        <img id="main_image" src="../../../assets/images/main-image.png" alt="Girl wearing Bracelets">
    </section>
    <section>
        <div class="d-flex flex-column w-75 m-auto mt-5">
            <div class="d-flex">
                <img id="imange_1" src="../../../assets/images/bracelet-1.png" alt="Bracelet">
                <div class="ms-3 d-flex align-items-center"><span class="fs-5 text-center"> Bracelets crafted by an
                        11-year-old girl embody the purest form
                        of
                        creativity and passion.
                        Each
                        bracelet, meticulously strung together with vibrant beads, is a testament to her youthful
                        enthusiasm
                        and
                        her blossoming artistic talent. The choice of colors and patterns in each bracelet is not just a
                        random
                        selection but a reflection of her vivid imagination and inner joy. These bracelets are more than
                        just
                        accessories; they are wearable pieces of art, infused with a sense of playfulness and a
                        boundless
                        zest
                        for life.</span>
                </div>
            </div>
            <br />
            <div class="d-flex">
                <div class="me-3 d-flex align-items-center"><span class="fs-5 text-center">What makes these bead
                        bracelets truly special is the love and care
                        woven into
                        every knot and bead.
                        With
                        each bracelet she creates, the young artist pours her heart into her work, ensuring that every
                        piece
                        carries a part of her spirit. These bracelets are not merely products of a hobby; they are
                        symbols
                        of
                        love, crafted with the hopes of spreading happiness and inspiration. Wearing one of her
                        creations is
                        like carrying a small beacon of joy and a reminder of the pure, unadulterated creativity that
                        flourishes
                        in the heart of a child.</span>
                </div>
                <img id="imange_2" src="../../../assets/images/bracelet-2.png" alt="Bracelet">
            </div>
        </div>
    </section>
</main>